<div class="content">
  <div class="my-50 text-center">
    <h2 class="font-w700 text-body-color-light mb-10">
      <i class="fa fa-pencil text-muted mr-5"></i> Reset Password
    </h2>
  </div>
  <div class="block block-rounded text-body">
    <div class="block-content">
      <form *ngIf="displayForm" [formGroup]="formField">
        <div class="form-group row"
             [ngClass]="{'is-invalid': getPassword().invalid && getPassword().touched}">
          <div class="col-12">
            <label for="password">Password *</label>
            <input type="password" class="form-control" id="password"
                   placeholder="********" formControlName="password">
            <!--<div class="invalid-feedback animated fadeInDown"-->
            <!--*ngIf="getPassword().invalid"> {{ getFormErrors('password') }}-->
            <!--</div>-->
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{'is-invalid': getPasswordConfirm().invalid && getPasswordConfirm().touched}">
          <div class="col-12">
            <form class="js-validation" [formGroup]="confirmField">
              <label for="password-confirm">Password Confirmation *</label>
              <input type="password" class="form-control" id="password-confirm"
                     placeholder="********" formControlName="passwordConfirm">
              <!--<div class="invalid-feedback animated fadeInDown"-->
              <!--*ngIf="getPasswordConfirm().invalid"> {{ getFormErrors('passwordConfirm') }}-->
              <!--</div>-->
            </form>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-alt-primary"
                  [disabled]="!(getPassword().valid && getPasswordConfirm().valid)"
                  (click)="submitHandler()">
            <i class="fa fa-pencil"></i>
            <span *ngIf="pending$ | async; else submitBtnStatic">Saving password ...</span>
            <ng-template #submitBtnStatic>Reset password</ng-template>
          </button>
        </div>
      </form>
      <div *ngIf="!displayForm" style="margin-bottom: 5px">{{ text }}</div>
    </div>
  </div>
</div>
