<a class="block text-center" [routerLink]="['/module', module['ID']]">
  <div class="block-content block-content-full block-content-sm bg-primary">
    <span class="font-w600 text-white">{{ module.title }}</span>
  </div>
  <div class="block-content block-content-full bg-primary-lighter">
    <img class="img-avatar img-avatar-thumb" src="assets/media/avatars/avatar7.jpg" alt="">
  </div>
  <div class="block-content">
    <div class="row items-push text-center">
      <div class="col-6">
        <div class="mb-5"><i class="si si-wallet fa-2x text-primary"></i></div>
        <div class="font-size-sm text-muted">$ {{ module.price }}</div>
      </div>
      <div class="col-6">
        <div class="mb-5"><i class="si si-star fa-2x text-primary"></i></div>
        <div class="font-size-sm text-muted">
          <i *ngFor="let star of stars" [ngClass]="{'fa-star': star, 'fa-star-o': !star}" class="fa"></i>
        </div>
      </div>
    </div>
  </div>
</a>

