<form class="js-validation-signup" [formGroup]="formFields">
  <div class="block block-themed block-rounded block-shadow">
    <div class="block-header bg-gd-dusk">
      <h3 class="block-title">Please add your details</h3>
      <!--<div class="block-options">-->
      <!--<button type="button" class="btn-block-option">-->
      <!--<i class="si si-wrench"></i>-->
      <!--</button>-->
      <!--</div>-->
    </div>
    <div class="block-content text-body-color">
      <div class="form-group row" [ngClass]="{'is-invalid': getName().invalid && getName().touched}">
        <div class="col-12">
          <label for="signup-name">Name *</label>
          <input type="text" class="form-control" id="signup-name" name="signup-name"
                 placeholder="eg: John Smith" formControlName="name">
          <div class="invalid-feedback animated fadeInDown"
               *ngIf="getName().invalid"> {{ getFormErrors('name') }}
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'is-invalid': getEmail().invalid && getEmail().touched}">
        <div class="col-12">
          <label for="signup-email">Email *</label>
          <input type="email" class="form-control" id="signup-email" name="signup-email"
                 placeholder="eg: john@example.com" formControlName="email">
          <div class="invalid-feedback animated fadeInDown"
               *ngIf="getEmail().invalid"> {{ getFormErrors('email') }}
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'is-invalid': getPassword().invalid && getPassword().touched}">
        <div class="col-12">
          <label for="signup-password">Password *</label>
          <input type="password" class="form-control" id="signup-password" name="signup-password"
                 placeholder="********" formControlName="password">
          <div class="invalid-feedback animated fadeInDown"
               *ngIf="getPassword().invalid"> {{ getFormErrors('password') }}
          </div>
        </div>
      </div>
      <div class="form-group row"
           [ngClass]="{'is-invalid': getPasswordConfirm().invalid && getPasswordConfirm().touched}">
        <div class="col-12">
          <form class="js-validation-signup" [formGroup]="passwordConfirmForm">
            <label for="signup-password-confirm">Password Confirmation</label>
            <input type="password" class="form-control" id="signup-password-confirm" name="signup-password-confirm"
                   placeholder="********" formControlName="passwordConfirm">
            <div class="invalid-feedback animated fadeInDown"
                 *ngIf="getPasswordConfirm().invalid"> {{ getFormErrors('passwordConfirm') }}
            </div>
          </form>
        </div>
      </div>
      <div class="form-group row mb-0">
        <div class="col-sm-6 push">
          <!--<div class="custom-control custom-checkbox">-->
          <!--<input type="checkbox" class="custom-control-input" id="signup-terms" name="signup-terms">-->
          <!--<label class="custom-control-label" for="signup-terms">I agree to Terms &amp; Conditions</label>-->
          <!--</div>-->
        </div>
        <div class="col-sm-6 text-sm-right push">
          <button type="submit" class="btn btn-alt-primary"
                  [disabled]="formFields.invalid || passwordConfirmForm.invalid" (click)="signupHandler()">
            <i class="fa fa-plus mr-10"></i> {{ (pending$ | async) ? 'Creating Account ...' : 'Create Account' }}
          </button>
        </div>
      </div>
    </div>
    <div class="block-content bg-body-light">
      <div class="form-group text-center">
        <!--<a class="link-effect text-muted mr-10 mb-5 d-inline-block" href="#" data-toggle="modal"-->
        <!--data-target="#modal-terms">-->
        <!--<i class="fa fa-book text-muted mr-5"></i> Read Terms-->
        <!--</a>-->
        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" routerLink="/login">
          <i class="fa fa-user text-muted mr-5"></i> Sign In
        </a>
      </div>
    </div>
  </div>
</form>
<!-- END Sign Up Form -->
