<div class="content content-full overflow-hidden">
  <!-- Header -->
  <div class="py-30 text-center">
    <a class="link-effect font-w700" routerLink="/">
      <i class="si si-fire"></i>
      <span class="font-size-xl text-body-color-light">uRef</span><span class="font-size-xl">lect</span>
    </a>
    <h1 class="text-body-color-light h4 font-w700 mt-30 mb-10">Create New Account</h1>
    <h2 class="text-body-color-light h5 font-w400 text-muted mb-0">We’re excited to have you on board!</h2>
  </div>
  <!-- END Header -->

  <app-register></app-register>

</div>
