.numpad-container {
  width: 250px;

  .form-control-plaintext {
    border: 1px solid white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    font-size: 1.5em;
    height: 68px;
    text-align: center;
    letter-spacing: 5px;
  }

  .numpad-row {
    display: flex;
    width: 250px;
    justify-content: space-between;

    .numpad-cell {
      border: 1px solid white;
      border-radius: 50%;
      height: 70px;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      margin: 5px;
    }
  }
}
