<div class="row gutters-tiny js-gallery img-fluid-100 js-gallery-enabled">
  <div class="col-6">
    <a class="img-link img-link-simple img-thumb img-lightbox"
       href="assets/media/photos/photo35@2x.jpg">
      <img class="img-fluid" src="assets/media/photos/photo35.jpg" alt="">
    </a>
  </div>
  <div class="col-6">
    <a class="img-link img-link-simple img-thumb img-lightbox"
       href="assets/media/photos/photo41@2x.jpg">
      <img class="img-fluid" src="assets/media/photos/photo41.jpg" alt="">
    </a>
  </div>
  <div class="col-6">
    <a class="img-link img-link-simple img-thumb img-lightbox"
       href="assets/media/photos/photo42@2x.jpg">
      <img class="img-fluid" src="assets/media/photos/photo42.jpg" alt="">
    </a>
  </div>
  <div class="col-6">
    <a class="img-link img-link-simple img-thumb img-lightbox"
       href="assets/media/photos/photo43@2x.jpg">
      <img class="img-fluid" src="assets/media/photos/photo43.jpg" alt="">
    </a>
  </div>
</div>
