<form class="js-validation-signin" [formGroup]="formFields">
  <div class="block block-themed block-rounded block-shadow">
    <div class="block-header bg-gd-dusk">
      <h3 class="block-title">Please Sign In</h3>
    </div>
    <div class="block-content text-body-color">
      <div class="form-group row" [ngClass]="{'is-invalid': getEmail().invalid && getEmail().touched}">
        <div class="col-12">
          <label for="login-username">Email</label>
          <input type="text" class="form-control" id="login-username" name="login-username" formControlName="email">
          <div class="invalid-feedback animated fadeInDown" *ngIf="getEmail().invalid">{{ getErrors('email') }}</div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'is-invalid': getPassword().invalid && getPassword().touched}">
        <div class="col-12">
          <label for="login-password">Password</label>
          <input type="password" class="form-control" id="login-password" name="login-password"
                 formControlName="password">
          <div class="invalid-feedback animated fadeInDown" *ngIf="getPassword().invalid">{{ getErrors('password') }}
          </div>
        </div>
      </div>
      <div class="form-group row mb-0">
        <div class="col-sm-6 d-sm-flex align-items-center push">
        </div>
        <div class="col-sm-6 text-sm-right push">
          <button type="submit" class="btn btn-alt-primary" [disabled]="formFields.invalid" (click)="signinHandler()">
            <i class="si si-login mr-10"></i> {{ (pending$ | async) ? 'Signing in ...' : 'Sign In' }}
          </button>
        </div>
      </div>
    </div>
    <div class="block-content bg-body-light">
      <div class="form-group text-center">
        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" routerLink="/register">
          <i class="fa fa-plus mr-5"></i> Create Account
        </a>
        <a class="link-effect text-muted mr-10 mb-5 d-inline-block" routerLink="/password-lost">
          <i class="fa fa-warning mr-5"></i> Forgot Password
        </a>
      </div>
    </div>
  </div>
</form>
