<div class="content">
  <div class="my-50 text-center">
    <h2 class="font-w700 text-body-color-light mb-10">
      <i class="fa fa-plus text-muted mr-5"></i> Add New Module
    </h2>
  </div>
  <div class="block block-rounded">
    <div class="block-content">
      <form>
        <h2 class="content-heading text-black">General Information</h2>
        <div class="row items-push">
          <div class="col-lg-3">
            <p class="text-muted">
              Pay extra attention since this is the data which customers will see first.
            </p>
          </div>
          <div class="col-lg-7 offset-lg-1">
            <div class="form-group text-body">
              <label for="module-add-title">Title *</label>
              <input type="text" class="form-control form-control-lg" id="module-add-title"
                     placeholder="Module Title" required>
            </div>
            <div class="form-group text-body">
              <label for="module-add-desc">Description *</label>
              <textarea class="form-control form-control-lg" id="module-add-desc"
                        rows="8" placeholder="Please add a description for your module."
                        required></textarea>
            </div>
            <div class="form-group row text-body">
              <div class="col-md-4">
                <label for="module-add-pricing">Price (in USD) *</label>
                <input type="text" class="form-control form-control-lg" id="module-add-pricing"
                       placeholder="5.00" required>
              </div>
            </div>
          </div>
        </div>

        <h2 class="content-heading text-black">Additional Info</h2>
        <div class="row items-push">
          <div class="col-lg-3">
            <p class="text-muted">
              Add more details, such as minimum size for your module.
              0 means the module is not resizable
            </p>
          </div>
          <div class="col-lg-7 offset-lg-1">
            <div class="form-group row">
              <div class="col-md-8">
                <label for="module-add-minwidth">Minimum Width *</label>
                <select class="form-control form-control-lg" id="module-add-minwidth" required>
                  <option>Please select</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8">
                <label for="module-add-minheight">Minimum Height *</label>
                <select class="form-control form-control-lg" id="module-add-minheight" required>
                  <option>Please select</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <h2 class="content-heading text-black">Module ZIP *</h2>
        <div class="row items-push">
          <div class="col-lg-3">
            <p class="text-muted">
              Please upload your module archive.<br>
              The name of your ZIP should be : [name].v[major]-[minor].zip
            </p>
          </div>
          <div class="col-lg-7 offset-lg-1">
            <div class="form-group">
              <div class="custom-file form">
                <!-- Populating custom file input label with the selected filename (data-toggle="custom-file-input" is initialized in Codebase() -> uiHelperCoreCustomFileInput()) -->
                <!-- When multiple files are selected, we use the word 'Files'. You can easily change it to your own language by adding the following to the input, eg for DE: data-lang-files="Dateien" -->
                <label class="custom-file-label" for="module-add-upload">Choose file</label>
                <input type="file" class="custom-file-input" id="module-add-upload"
                       data-toggle="custom-file-input" required>
              </div>
            </div>
          </div>
        </div>

        <div class="row items-push">
          <div class="col-lg-7 offset-lg-4">
            <div class="form-group">
              <button type="submit" class="btn btn-alt-success">
                <i class="fa fa-plus mr-5"></i>
                Add Module
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
