<div>
  <!-- Side User -->
  <div class="content-side content-side-full content-side-user px-10 align-parent"
       *ngIf="isAuthenticated$ | async; else notAuthenticated">
    <!-- Visible only in mini mode -->
    <div class="sidebar-mini-visible-b align-v animated fadeIn">
      <img class="img-avatar img-avatar32" src="assets/media/avatars/avatar0.jpg" alt="">
    </div>
    <!-- END Visible only in mini mode -->

    <!-- Visible only in normal mode -->
    <div class="sidebar-mini-hidden-b text-center">
      <a class="img-link" href="">
        <img class="img-avatar" src="assets/media/avatars/avatar0.jpg" alt="">
      </a>
      <ul class="list-inline mt-10">
        <li class="list-inline-item">
          <a class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase">
            {{ (user$ | async).name }}
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-effect text-dual-primary-dark pointer" (click)="signout()">
            <i class="si si-logout"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- END Visible only in normal mode -->
  </div>
  <!-- END Side User -->
  <ng-template #notAuthenticated>
    <div class="text-center">
      <button class="btn btn-alt-primary" routerLink="/login">
        <i class="si si-login mr-10"></i> Log In
      </button>
    </div>
  </ng-template>
</div>
