<div class="block-content bg-body-light">
  <div class="row py-10">
    <div class="col-6 col-md-4">
      <ng-content select="[tag-type=price]"></ng-content>
    </div>
    <div class="col-6 col-md-4">
      <ng-content select="[tag-type=reviews]"></ng-content>
    </div>
    <div class="col-6 col-md-4">
      <ng-content select="[tag-type=lastUpdate]"></ng-content>
    </div>
    <div class="col-6 col-md-4">
      <ng-content select="[tag-type=resizable]"></ng-content>
    </div>
    <div class="col-6 col-md-4">
      <ng-content select="[tag-type=minWidth]"></ng-content>
    </div>
    <div class="col-6 col-md-4">
      <ng-content select="[tag-type=minHeight]"></ng-content>
    </div>
  </div>
</div>
