<div class="content">
  <app-module-detail-header
    [title]="(module$ | async).title"
    [owner_name]="(module$ | async).owner_name">
  </app-module-detail-header>
  <div class="block block-rounded">
    <app-module-detail-tags>
      <div tag-type="price">
        <p class="text-muted">
          <i class="fa fa-fw fa-money text-muted mr-5"></i>
          {{ (module$ | async).price === 0 ? 'Free' : '$' + (module$ | async).price }}
        </p>
      </div>
      <div tag-type="reviews" class="rating">
        <app-module-stars [rating]="(module$ | async).rating"></app-module-stars>
        <div class="font-size-sm text-muted ml-10">
          ( {{ getRatingNbStr((module$ | async).rating_nb) }} )
        </div>
      </div>
      <div tag-type="lastUpdate">
        <p class="text-muted">
          <i class="fa fa-fw fa-edit text-muted mr-5"></i>
          {{ (module$ | async).UpdatedAt | date:'longDate' }}
        </p>
      </div>
      <div tag-type="resizable">
        <p class="text-muted">
          <i class="fa fa-fw fa-arrows-alt text-muted mr-5"></i> Maybe
        </p>
      </div>
      <div tag-type="minWidth">
        <p class="text-muted">
          <i class="fa fa-fw fa-arrows-h text-muted mr-5"></i>
          {{ (module$ | async).min_width }}
        </p>
      </div>
      <div tag-type="minHeight">
        <p class="text-muted">
          <i class="fa fa-fw fa-arrows-v text-muted mr-5"></i>
          {{ (module$ | async).min_height }}
        </p>
      </div>
      <div btn-type="edit" *ngIf="(user$ | async).ID === module.user_id">
        <button type="button" class="btn btn-success mr-5 mb-5" (click)="editHandler()">
          <i class="fa fa-edit mr-5"></i>Edit
        </button>
      </div>
      <div btn-type="install">
        <div class="btn-group" role="group"
             [ngClass]="{'show': toggleDropdown}">
          <button type="button" class="btn btn-primary dropdown-toggle"
                  id="filters-btn"
                  (click)="toggleDropdown = !toggleDropdown">
            Install
          </button>
          <div class="dropdown-menu" aria-labelledby="filters-btn"
               [ngClass]="{'show': toggleDropdown}"
               x-placement="top-start">
            <a class="dropdown-item" (click)="installHandler(mirror.ID)"
               *ngFor="let mirror of mirrors$ | async">
              {{ mirror.name.length > 0 ? mirror.name : '[Unnamed Mirror]' }}
            </a>
          </div>
        </div>
      </div>
    </app-module-detail-tags>
    <div class="block-content block-content-full">
      <div class="row">
        <!--<app-module-detail-pictures class="col-md-6 order-md-2 py-20">-->
        <!--</app-module-detail-pictures>-->
        <div class="col-md-6 order-md-1 py-20 text-muted module-content">
          <h5>Description</h5>
          {{ (module$ | async).description }}
          <app-comments
            [moduleId]="(module$ | async).ID">
          </app-comments>
        </div>
      </div>
    </div>
    <!--<div class="block-content block-content-full border-top clearfix">-->
    <!--<a class="btn btn-hero btn-alt-danger float-right" href="javascript:void(0)">-->
    <!--<i class="fa fa-heart"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-hero btn-alt-primary" href="javascript:void(0)">-->
    <!--<i class="fa fa-envelope mr-5"></i> Comment-->
    <!--</a>-->
    <!--</div>-->
  </div>
</div>
